<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
                 "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
                 
   <beans> 
    <bean id="s1" class="com.techpalle.bean.Student">
    <property name="sno" value="101"/>   
    <property name="sname" value="sravani"/>   
    <property name="course" value="java"/>      
    </bean> 
    
    <bean id="s2" class="com.techpalle.bean.Student">
    <property name="sno" value="102"/>   
    <property name="sname" value="vani"/>   
    <property name="course" value="python"/> 
    </bean>
    
    
</beans> 
            